* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Footer {
  display: flex;
  flex-direction: row-reverse;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.icon-citation {
  
  font-size: x-small;
}
